.App {
  text-align: left;
}

div.weather-banner {
  display: flex;
  margin: 5px;
}

div.weather-banner > * {
  margin: 10px;
}

img.weatherStatusIcon {
  height: 60px;
  width: auto;
}

.temperature {
  display: inline-block;
  font-size: xxx-large;
}

.temperature-mode {
  font-size: large;
}

.temperature-mode > span.degree-icon {
  font-size: medium;
}

div.w-conditions,
div.info {
  display: block;
}

div.w-conditions {
  font-size: small;
  color: #555650;
}

div.info {
  width: 250px;
  text-align: right;
}

div.info > div.location {
  font-size: x-large;
}

div.info > div.daytime,
div.info > div.weatherStateName {
  color: #979797;
}
